
/* colores*/
:root {
    --azul-principal: #1d5d8f;
    --azul-secundario: #2878b5;
    --dorado: #d4a017;
    --blanco: white;
    --fondo: #f7f7f7;
    --negro: #181717;
}


/* pagina principal*/

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: var(--fondo);
    color: var(--negro);
}


/* titulo */

header {
    background-color: var(--azul-principal);
    color: var(--blanco);
    text-align: center;
    padding: 30px;
}


/* nav*/

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}


/* CONTENIDO */

main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 25px;
}

h2 {
    color: var(--azul-principal);
    border-bottom: 2px solid var(--dorado);
    padding-bottom: 8px;
}

h3 {
    color: var(--azul-secundario);
}

p {
    line-height: 1.6;
}


/* lista*/

ul {
    line-height: 1.8;
}


/* CONTACTOS */

footer {
    background-color: var(--azul-principal);
    color: var(--blanco);
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

footer h2 {
    color: var(--blanco);
    border-bottom: 2px solid var(--dorado);
}

footer p {
    margin: 8px;
}

div {
    margin-right: 64%;
}

.logo {
    width: 100px;
    float: left;

}
.prueba {
background-color:red;
font-size: 100px;
}

