/* colores*/
:root {
    --azul-principal: #1d5d8f;
    --azul-secundario: #2878b5;
    --dorado: #d4a017;
    --blanco: white;
    --fondo: #f7f7f7;
    --negro: #181717;
    --beige: #E8DCC4;
}


/* pagina principal*/

body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: var(--fondo);
    color: var(--negro);
}


/* titulo */

header {
    background-color: var(--azul-principal);
    color: var(--blanco);
    text-align: center;
    padding: 30px;
}


/* nav*/

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
}


/* CONTENIDO */

main {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 25px;
}

h2 {
    color: var(--azul-principal);
    padding-bottom: 8px;
}

h3 {
    color: var(--azul-secundario);
}

p {
    line-height: 1.6;
}


/* lista*/

ul {
    line-height: 1.8;
}


/* CONTACTOS */

footer {
    background-color: var(--azul-principal);
    color: var(--blanco);
    text-align: center;
    padding: 30px;
    margin-top: 40px;
}

footer h2 {
    color: var(--blanco);
    border-bottom: 2px solid var(--dorado);
}

footer p {
    margin: 8px;
}

div {
    margin-right: 55%;
}

/* LOGO */
.logo {
    width: 150px;
margin-bottom: 200px;
    float: left;

}



/* CONTENEDOR */
.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 90%;
    margin: 40px auto;
}

.Box {
    border: 5px solid #E8DCC4;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
    width: 100%;
    background-color: #E8DCC4;
}

.datos-clave {
    display: grid;
    grid-template-columns: 140px 1fr;
    column-gap: 30px;
    row-gap: 0;
    margin-top: 25px;
}

.datos-clave dt {
    padding: 16px 0;
    font-weight: bold;
    color: #1d5d8f;
}

.datos-clave dd {
    padding: 16px 0;
    margin: 0;
    line-height: 1.4;
}

